@import "../../css/color.css";

.ResetButton {
  color: var(--dark-purple);
  background-color: var(--color-secondary);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  font: inherit;
  width: 90%;
  margin: 0 auto;
}
