.PlayerForm {
  display: grid;
  margin: 4rem 1rem;
  gap: 0.5rem;
}

.Label {
  text-align: left;
}

.InputPlayerName {
  margin-top: 0.2rem;
  height: 1.5rem;
}

.SubmitButton {
  color: var(--dark-purple);
  background-color: var(--color-secondary);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  font: inherit;
  width: 100%;
  margin: 0 auto;
}
