@import "./css/reset.css";
@import "./css/color.css";

.App {
  display: grid;
  gap: 2rem;
  max-width: 300px;
  margin: 2rem auto;

  background-color: var(--color-primary);
}
.Title {
  margin: 1rem auto;
}
